.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background: antiquewhite;

  .search-options {
    background: chocolate;
    border-bottom: 1px solid black;
    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  main {
    overflow: auto;
    padding: 20px;
  }

}