.PokemonSearch {
  background: chocolate;
  padding: 10px 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.PokemonSearch input {
  width: 200px;
  height: 20px;
  outline: 0;
}

.PokemonSearch select {
  width: 150px;
}